---
---

@import "{{ site.theme }}";

#news {
	color: #E94848;
	float:left;
	width:60%;
	font-style:italic;
	font-size:18px;
	margin-right:10.5%;
	margin-bottom:3.5%;
}

#summary {
    float: left;
    width:60%;
    margin-right:10.5%;
	  
}

#contactAndPhoto {
    float:right;
    width:29.5%;
}

#myPicture {
   padding:1px;
   border-radius:30px;
   background-color:#fdfdfd;
   max-width: 225px;
}



.contact-detail {
    padding-left: 6px;
    margin-bottom: 10px;
    margin-top:5px;
}

.footer-span {
    font-size: 12px;
    color: #828282;
    display: inline-block;
}

#footer-wrapper {
    text-align: center;
}

.detail-element {
    margin-top:20px;
}

.social-media-list {
    padding-left:6px;
    margin-top:10px;
}

#publication-list {
    list-style-type:square;
}

.download-image {
    filter: invert(35%) sepia(100%) saturate(1567%) hue-rotate(200deg) brightness(93%) contrast(90%);
    width: 35px;
    height: 20px;
}

.pc-element {
    font-size: 14px;
}

#reviewer {
    margin-top: 30px;
}

#envelope-image {
    width: 21px;
    height: 16px;
    padding-right: 5px;
    filter: invert(54%) sepia(0%) saturate(0%) hue-rotate(225deg) brightness(95%) contrast(92%);
}

#pin-image {
    width: 21px;
    height: 16px;
    padding-right: 5px;
    filter: invert(54%) sepia(0%) saturate(0%) hue-rotate(225deg) brightness(95%) contrast(92%);
}

.contact-list {
    padding-left: 5px;
}

.pub-item {
    margin-bottom: 15px;
}

#address-div {
    float: right;
    width: 88%;
    margin-right: 2%;
}

#pin-div {
    float: left;
    width: 10%;
}
